<body style="padding: 10px;">
	<div class="col-xs-8">
		<div class="panel-heading">
			<h3>Employee Search Form</h3>
		</div>
		<form asp-controller="Employee" asp-action="DynamicSQL">
			<div>
				<label for="FirstName">First Name</label>
				<br />
				<input type="text" name="FirstName" placeholder="First Name"/>
			</div>
			<br />
			<div>
				<label for="LastName">Last Name</label>
				<br />
				<input type="text" name="LastName" placeholder="Last Name" />
			</div>
			<br />
			<div>
				<label for="Gender">Gender</label>
				<br />
				<select name="Gender">
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
			</div>
			<br />
			<div>
				<label for="Salary">Salary</label>
				<br />
				<input type="number" name="Salary" placeholder="Salary" />
			</div>
			<br />
			<input type="submit" value="DynamicSQL"/>
		</form>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Gender</th>
					<th scope="col">Salary</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var emp in Model)
				{
					<tr>
						<td>@emp.FirstName</td>
						<td>@emp.LastName</td>
						<td>@emp.Gender</td>
						<td>@emp.Salary</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</body>