<li>
	<a class="btn btn-success" asp-controller="Employee" asp-action="SearchResult">SearchResult</a>
</li>
<li>
	<a class="btn btn-success" asp-controller="Employee" asp-action="DynamicSQL">DynamicSQL</a>
</li>