<li>
	<a class="btn btn-success" asp-controller="Employee" asp-action="SearchResult">SearchResult</a>
</li>
<hr />
<hr />
<li>
	<a class="btn btn-success" asp-controller="Employee" asp-action="DynamicSQL">DynamicSQL</a>
</li>
<hr />
<hr />
<li>
	<a class="btn btn-success" asp-controller="Employee" asp-action="SearchDynamicSQL">SearchDynamicSQL</a>
</li>